<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.javaweb.overtime_resgistion.dao.EmployeeDao">
    <resultMap id="base_employee_map_01" type="Employee">
        <id column="employee_id" property="employee_id"></id>
        <result column="name" property="name"></result>
        <result column="overtime" property="overtime"></result>
        <result column="password" property="password"></result>
        <result column="sex" property="sex"></result>
        <result column="role" property="role"></result>
        <result column="modify_date" property="modify_date"></result>
    </resultMap>

    <insert id="create" useGeneratedKeys="true" parameterType="Employee"
            keyProperty="employee_id" keyColumn="employee_id">
        insert into `employee` (`name`,`password`,`overtime`,`modify_date`,`sex`,`role`) values (#{name},#{password},#{overtime},#{modify_date},#{sex},#{role})
    </insert>

    <delete id="deleteById" parameterType="Integer">
        delete from `employee` where `employee_id` = #{employee_id}
    </delete>

    <select id="findByExample" resultMap="base_employee_map_01">
        select employee_id,modify_date,name,overtime,password,sex,role
        from employee
        <where>
            <if test="employee_id!= 0">and employee_id = #{employee_id}</if>
            <if test="modify_date!= null">and modify_date = #{modify_date}</if>
            <if test="name!= null">and name = #{name}</if>
            <if test="overtime!= 0">and overtime = #{overtime}</if>
            <if test="password != null">and password = #{password}</if>
            <if test="sex!= null">and sex = #{sex}</if>
            <if test="role!= 0">and role = #{role}</if>
        </where>
    </select>

    <update id="updateByExample" parameterType="Employee">
        update `employee`
        <trim prefix="set" suffixOverrides=",">
            <if test="employee_id!=0">employee_id=#{employee_id},</if>
            <if test="modify_date!=0">modify_date=#{modify_date},</if>
            <if test="name!=0">name=#{name},</if>
            <if test="overtime!=0">overtime=#{overtime},</if>
            <if test="password!=0">password=#{password},</if>
            <if test="sex!=0">sex=#{sex},</if>
            <if test="role!=0">role=#{role},</if>
        </trim>
        where employee_id = #{employee_id}
    </update>


</mapper>

